/*  
Description: ISOC Main Style Sheet
URL:    	   http://www.isoc.org/includes/styles.css
Author: 	   Henri Wohlfarth
Contact: 	   webmaster@isoc.org
Updated for WRC:   Hervey Allen (admin@ws.edu.isoc.org)
Updated for nsrc.org - March 2014 by Hervey Allen, hervey@nsrc.org
*********************************************************
*/


table, td { border-collapse: collapse; padding: 0px; border-spacing: 0px; vertical-align: top }
th { padding: 4px; vertical-align:top; text-align:left;border: 1px solid #ccc; font-weight: bold; background-color: #f4f4f7 }
a.href.bold {font-weight: bold;}
a.href.right {text-align:right; float:right}

/* Bullet lists global standard */
td.content ul, td.content ol { padding-left:20px; margin-left: 5px; margin-bottom: 20px }
ul.arrow {list-style-position: outside; list-style-image: url(/calendar/images/arrow.gif); list-style-type: square; margin-bottom: 10px }

/* top account table */
table.top { width: 760px; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; padding: 0px} 

/* main table */
table.main { width: 760px; margin-left: auto; margin-right:auto; border-top: 1px solid #009; margin-top: 5px}

/* left container */
td.left { width: 150px }

/* Content right container */
td.content { padding: 20px; text-align:left; padding-right: 0px;border-left: 1px solid #aaa096; width: 590px; height: 300px }


/* textboxes */
.txtbox1 { background-color: #f4f4f7; padding: 4px; border:1px solid #ccc }
.txtbox2 { background-color: #f4f4f7; padding: 4px; border:1px dashed #ccc }
.txtbox3 { float:right; padding: 4px; margin-left: 4px; width: 170px; margin-bottom: 4px; background-color: #f4f4f7; border: 1px solid #c0d0e0}
.box4 {background-color: #630000; width: 180px;color:#EEEEEE; padding: 3px; float:right; margin-left: 6px; margin-bottom: 5px;}
.box4 div {background-color:#fff; color: #630000; margin:-4px;margin-top: 12px; padding-top: 2px}

/* textboxes with rounded corners */
div#box1, b.rtop b, b.rbottom b{ background: #EEEEEE;}

div#box1 p { padding:5px; bordder:1px solid red; margin:0px }
b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

/* borders */
.border1 { border:1px solid #000 }

/* backgrounds */
.bg1 { background-color: #EEEEEE}
.bg2 { background-color: #EBEAE7}
.bg3 { background-color: #EDF6F7}
.bg4 { background-color: #F8F3F8 }

/* Table cells */
table.table1{ margin-left: -4px }
table.table1 td { padding: 4px; }
table.table2 td { padding: 4px; border: 1px solid #ccc;}
table.table2, table.table1 { width:460px}

acronym:hover { cursor: help }
acronym  { border-bottom: thin dotted; cursor: help}

